<html class="no-js" lang="">

    <head>
    <meta charset="utf-8">
    <title>個人記録</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <meta name="theme-color" content="#fafafa">
    </head>
    <body>
        <h1>{{.event.Name}}</h1>
        <h2>{{.race.Class}}</h2>
        <h3>{{.record.RunnerName}}</h3>
        <form method="POST" action="{{.record.URL}}/submitted">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">_</th>
                        <th scope="col">lap_time</th>
                        <th scope="col">elapsed_time</th>
                        <th scope="col">leg_loss_time</th>
                        <th scope="col">plan</th>
                        <th scope="col">execution</th>
                    </tr>
                </thead>

                <tbody>
                    {{range $index, $LT := .lT}}
                    
                        <tr>
                            <th>
                                {{add $index 1}}
                            </th>
                            <th>
                                {{index $.lT $index}}({{index $.lR $index}})
                            </th>
                            <th>
                                {{index $.eT $index}}({{index $.eR $index}})
                            </th>

                            <th>
                                {{index $.lLT $index}}
                            </th>
                            <th>
                                <textarea name="plan{{add $index 1}}" cols="50"></textarea>
                            </th>
                            <th>
                                <textarea name="execution{{add $index 1}}" cols="50"></textarea>
                            </th>
                        </tr>
                        
                    {{end}}
                    <thead>
                        <tr>
                            <th scope="col">_</th>
                            <th scope="col">{{.record.Result}}({{.record.Rank}})</th>
                            <th scope="col">_</th>
                            <th scope="col">_</th>
                            <th>
                                <textarea name="plan" cols="50"></textarea>
                            </th>
                            <th>
                                <textarea name="execution" cols="50"></textarea>
                            </th>
                        </tr>
                    </thead>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </body>
</html>