<html>
  <head>
    <title>Top</title>
    <style>
      input{display:block;}
      ul{list-style:none;}
    </style>
  </head>
  <body>

    <div class="container">
      
        <div class="panel-body">
          <p>こんにちは</p>
          <ul>
            <li>
              <a href="/analysis">アナリシスを提出する</a>
          </ul>

          <ul>
            <li>
              <a href="/myanalysis">自分のアナリシス</a>
          </ul>
          <ul>
            <li>
              <a href="/everyanalysis">皆のアナリシス</a>
          </ul>
					<!--
          <ul>
            <li>
              <a href="/favorite">お気に入り</a>
          </ul>
				-->
        </div>
    </div>
  </body>
</html>
